.gform_wrapper {

	.top_label,
	.left_label,
	.right_label {
		input[type="file"] {
			width: 100%;
		}
	}

	.gform_fileupload_multifile .gform_drop_area {
		padding: 25px;
		border: 2px dashed #ddd;
		text-align: center;
		color: #aaa;
		margin-bottom: 10px;
	}

}

.right_label .gform_fileupload_multifile,
.left_label .gform_fileupload_multifile {
    margin-left: 31%;
}