.gform_wrapper {

	div.charleft {
		font-size: 11px;
		margin-top: 4px;
		color: #B7B7B7;
		width: 92% !important;
		white-space: nowrap !important;

		&[style] {
			width: 92% !important;
		}

		&.warningTextareaInfo {
			color: #A1A1A1;
		}
	}
	.left_label div.charleft,
	.right_label div.charleft {
		width: 65% !important;
		margin-left: 32%;
	}
	li.gf_hide_charleft div.charleft  {
		display: none !important;
	}
}