.gform_wrapper {

	.gfield_required {
		padding-left: 3px;
		color: $state-danger-text;
	}

	.validation_message {
		font-weight: bold;
	}

	li.gfield {

		&.gfield_error,
		&.gfield_error.gfield_contains_required.gfield_creditcard_warning {
			background-color: #FFDFE0;
			margin-bottom: 6px !important;
			padding: 6px 6px 4px 6px !important;
			border-top: 1px solid #C89797;
			border-bottom: 1px solid #C89797;		
		}
		&.gfield_creditcard_warning {
			margin-bottom: px !important;
			padding: 6px 6px 4px 6px !important;
			border: 1px dashed #C89797;

			div.gfield_creditcard_warning_message {
				font-size:1em;
				font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
				padding: 10px 20px 10px 45px;
				min-height: 25px;
				background-image: url('#{$gravity-image-path}stopbanner.png');
				background-repeat: no-repeat;
				background-position: 0 0;
				background-color: #790000;
				border-bottom: 1px solid #620101;
				color: #FFF;
				text-shadow: 0 1px 1px rgba(0,0,0,0.50);
				line-height: 1.3em;
				letter-spacing: 0.2pt;
				margin-bottom: 6px;
			}
		}
		+ li.gfield.gfield_creditcard_warning {
			margin-top: 14px !important;
		}
		&.gfield_error.gfield_contains_required {
			margin-top: 12px;
			margin-bottom: 12px !important;
			padding-left: 10px !important;

			label.gfield_label,
			div.ginput_container  {
				margin-top: 12px;
			}
		}
	}
}